/* import components */

@import "css-components/page.css";
@import "css-components/container.css";
@import "css-components/header.css";
@import "css-components/modal.css";
@import "css-components/menu-icon.css";
@import "css-components/main-menu.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p + p {
  margin-top: 1em;
}