* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  margin: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.display {
  flex: 1 1 1;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 20px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  transform: translateY(-50%);
}

li {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
}

h3 {
  text-align: center;
}